
<p>news works!</p>
<div style="height:400px">
<div class="col-sm-4" routerLinkActive="active" *ngFor="let article of articles">
    <a class="list-group-item" (click)="viewNews(article)">
        <div>
            <div class="pull-left">
                <h5 class="list-group-item-heading">{{article.name}}</h5>
                <p class="list-group-item-text">{{article.website}} - <small class="list-group-item-text">{{article.email | lowercase}}</small> </p>
            </div>
        </div>
    </a>
</div>
</div>

<!--
<div *ngFor="let article of articles">
    <h2>{{article.title}}</h2>
  
      <p>
        {{article.description}}
      </p>
      <a href="{{article.url}}">Read full article</a>
  </div>-->