<div class="container">
    <p>Employee Details</p>
    <hr>
    <p><strong>Name:</strong><small>{{article.name}}</small></p>
    <p><strong>UserName:</strong><small>{{article.username}}</small></p>
    <p><strong>Email:</strong><small>{{article.email}}</small></p>
    <p><strong>Website:</strong><small>{{article.website}}</small></p>
    <hr>
    <span style="float:right; margin:-5px 10px 10px 10px">
        <button class="btn btn-primary" (click)="bsModalRef.hide()">Close</button>
    </span>
</div>